<div class="jumbotron">
    <div class="container">
        <br>
        <h1>Check out Vthryl's Books</h1>
        <br>
        <p>Dive Into Three Different Worlds</p>
        <br>
        <p>
            <%= button_to 'BOOKS!', books_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
        </p>
        <br>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <br>
            <h3>Vthryl's World</h3>
            <p>Looking for a realistic fiction romance or adventure? These are a series of stories that take place in the same modern world as ours with a few changes. And the fun part? Finding all the different ways these stories connect.
            </p>
        </div>
        <div class="col-lg-4">
            <br>
            <h3>Mutant Guard</h3>
            <p>Superhumans called mutants, vigilates roaming the streets, and various forms of gang activity. This world is ready for those science fiction enthusiests. There might also be aliens, time travel, and self aware AI, who knows.
            </p>
        </div>
        <div class="col-lg-4">
            <br>
            <h3>Estia</h3>
            <p>A world of gods, monsters, and magic. This fantasy world has everything a fantasy fan could think of. But keep an eye open for Vesper Akirith, the God of Death. It's said she still travels the world with her wife sharing stories of past adventures.
        </p>
    </div>
    </div>
</div>